.article {
  padding-bottom: 50px;
  img {
    object-fit: contain;
    max-width: 100%;
  }
}
.meta {
    display: flex;
    gap: 0 30px;
}
.tagWrapper {
  display: flex;
  gap: 0 15px;
  flex-wrap: wrap;
}
