$breakpoint-pc: 960px;
.content {
  margin: 10px auto;
  justify-content: center;
  display: flex;
  height: 100%;
  @media screen and (min-width: $breakpoint-pc) {
    margin: 50px auto;
  }
}

.contentInner {
  width: var(--content-width-sp);
  display: flex;
  justify-content: center;
  @media screen and (min-width: $breakpoint-pc) {
    width: var(--content-width-pc);
  }
}
