.content {
	display: flex;
	height: 100%;
	width: 100%;
}

.contentInner {
	width: 100%;
	padding: 1rem;
}

@media screen and (min-width: 960px) {
	.contentInner {
		flex-grow: 1;
		max-width: 900px;
	}
}
