.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.pageLayout {
	display: flex;
	flex-direction: column;
	width: 100%;
	flex-grow: 1;
	max-width: 1200px;
	margin: 0 auto;
}

.sidebar {
	width: 100%;
	padding: 1rem 0;
}

@media screen and (min-width: 960px) {
	.pageLayout {
		flex-direction: column;
	}
	
	.sidebar {
		width: 250px;
		flex-shrink: 0;
		padding: 1rem 0;
	}
}
