.footer {
  background-color: #333333;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 100vh;
  align-items: center;
  gap: 0 30px;
}
.font {
  font-size: 15px;
  color: var(--layout-font-color);
}
